/**
 * Show grid.
 */
// .showGrid(@maxWidth: 1260px, @gridImage) {
//     background-image: url("@{gridImage}");
//     background-repeat: repeat-y;
//     background-attachment: fixed;
//     background-position: center center;
//     background-size: 100% auto;
//     margin-left: auto;
//     margin-right: auto;
//
//     @media (min-width: @maxWidth) {
//         background-size: @maxWidth auto;
//     }
// }

.showGrid(@maxWidth, @gridImage) {
    background: url("@{gridImage}") repeat-y fixed center center;
    background-size: 100% auto;

    @media (min-width: @maxWidth) {
        background-size: @maxWidth auto;
    }
}

.showTypography(@gridImage) {
    background: @mainBackgroundColor url("@{gridImage}");
}
